# 忽略操作系统生成的文件
.DS_Store
Thumbs.db

# 忽略日志文件和临时文件
*.log
*.tmp
*.bak
*.swp

# 忽略 Python 虚拟环境
venv/
.env/

# 忽略 Python 编译文件
*.pyc
*.pyo
__pycache__/

# 忽略 Jupyter Notebook 检查点
.ipynb_checkpoints/

# 忽略 IDE/编辑器配置文件
.vscode/
.idea/

# 忽略构建文件
dist/
build/
*.egg-info/

# 忽略 node.js 依赖
node_modules/

# 忽略环境配置文件
.env
*.env.local

# 忽略其他可能的敏感文件
*.key
*.pem

# 忽略文件名或文件夹名包含 'test' 的文件或文件夹
*test*

# 忽略已归档文件
*.zip
*.tar.gz
*.rar
*.7z
*.tar.bz2
*.tar.xz

